  <section id="search" class="search-wrap">
    <h1>Find The Page</h1>
    <form action="/records/search" class="search-form">
      <i class="fas fa-search"></i>
      <input type="search" name="term" placeholder="Python,JS etc...">
      <input type="submit" value="Search">
    </form>
  </section>