<section >
  <form action="/users" method="get">
    <button style = "background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;">SIGN UP</button> 
  </form>
</section>
<section id="search" class="search-wrap">
    <h1>Find The Page</h1>
    <form action="/records/search" class="search-form ">
      <i class="fas fa-search"></i>
      <input type="search" name="term" placeholder="Python,JS etc...">
      <input type="submit" value="Search">
    </form>
  </section>
 