 <section id="gigs" class="container">
    <h1>ALL PAGES</h1>

    {{#each users}}
    <div class="gig">
      <h3>{{name}}</h3>
      <p>{{emal}}</p>
      <div class="tech">
        <small>Tags : <span>{{password}}</span></small>
      </div>
    </div>
    {{else}}
        <p>No Page is Available ! </p>
    {{/each}}
  </section>
